.mainContainer {
	background: rgb(255, 255, 255, .8);
	border: 0.4em solid black;
	height: 100%;
	display: grid;
	height: 80vh;
	grid-template-rows: 1fr 10fr;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.meTab, .meTabS, .projTab, .projTabS {
	width: 30vw;
	height: 10em;
	padding: none;
	float:left;
	border: solid grey;
	border-top: none;
}

.meTab, .meTabS {
	border-left: none;
	border-right: none;
}
.meTabS, .projTabS {
	background-color: transparent;
	border-bottom: none;
}

.infoContainer {
	display: flex;
}

.projectContainer {
	display: grid;
}
